#Ignore shapefile extensions
*.shp
*.xml
*.CPG
*.dbf
*.prj
*.sbn
*.sbx
*.shx

#Ignore raster objects
*.tif
*.msk

#Ignore data objects
*.json
*.csv

#Ignore terraform objects
*.terraform*
*.pyc

#Ignore prefect objects
*.prefectignore

#Ignore mac objects
*.DS_Store

#Ignore .env files
*.env

#No commit
*_no_commit*

#Ignore logger
*.log

#Ignore images
*.png